.a {
  color: black;
}

.coach-button {
  background-color: orange;
  border-color: orange;
  font-weight: bold;
}
.coach-button:hover {
  background-color: orange;
  border-color: orange;
  transition: 2s;
}
.coach-button:active {
  background-color: orange;
  border-color: orange;
  transition: 100000s;
}
.switch-button-color {
  color: #fff6f6;
  font-weight: bold;
}
.border-below-navbar {
  border-bottom: solid 1px rgb(119, 114, 114);
}
h1 {
  font-family: "Caveat", cursive;
  font-family: "Libre Baskerville", serif;
  font-family: "Roboto", sans-serif;

  font-size: 4rem;
  color: rgb(10, 10, 10);
  margin-right: 42%;
  margin-left: 2%;
}
.pstyle {
  text-align: left;
  color: #0d6efd;
  font-size: 1.5rem;
  overflow-wrap: break-word;
}

.about-container {
  display: flex;
  flex-direction: row;
  gap: 110px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2 {
  text-align: center;
  color: #0d6efd;
  font-size: 1.5rem;
}
.about-container div {
  width: 225px;
  height: 800px;
}
.center {
  text-align: center;
  margin: auto;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 100vh;
}

form {
  margin-top: 30px;
}

.button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.children-container {
  list-style-type: none;
  background-color: lightpink;
  padding: 3%;
  margin-top: 40px;
}
.children-container li {
  font-family: "Caveat", cursive;
  font-family: "Libre Baskerville", serif;
  font-family: "Roboto", sans-serif;
  padding-bottom: 2%;
  font-size: 1rem;
  color: rgb(10, 10, 10);
}
